<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">niceyonom02</a>
                <div class="description">
                    <p>I develop with Java. Interested in making Minecraft Plugins.</p>
                </div>
            </div>
        </div>
    </div>
</div>
